body {
	box-sizing: border-box;
	margin: 0;
}

.loading-container {
	align-items: center;
	/* display: flex; */
	justify-content: center;
}
.loading {
	/* display: flex; */
	position: relative;
	width: 80px;
	height: 80px;
}
.loading div {
	position: absolute;
	border: 4px solid #007bff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
